# PostgreSQL Database URL
DATABASE_URL="postgresql://username:password@host/database_name?sslmode=require"

# JWT Auth Secret
JWT_SECRET="your_secure_random_string_here"

# App Port
PORT=5000

# Client Application URL
CLIENT_URL="https://anshul253.github.io/AeroDynamics/"

# Stripe API Keys (Optional)
STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."
